<md-toolbar color="primary">
        <span>Msucle Hack</span>
    </md-toolbar>
    
    <md-card>
    <form class="example-form">
        <table class="example-full-width" cellspacing="0"><tr>
        <td colspan="2" align="left"><md-form-field class="example-full-width">
            <input mdInput placeholder="Name" name="name" [(ngModel)]="food.name">
        </md-form-field></td>
        <td colspan="2" align="left"><md-form-field>
            <input mdInput [(ngModel)]="food.date" name="date" [mdDatepicker]="myDatepicker">
            <md-datepicker-toggle mdSuffix [for]="myDatepicker"></md-datepicker-toggle>
            <md-datepicker #myDatepicker></md-datepicker>
        </md-form-field></td>
    </tr>
    <tr>
            <td><md-form-field class="example-full-width">
                <input mdInput placeholder="Calorie (kcal)" name="calorie" [(ngModel)]="food.calorie">
            </md-form-field></td>
            <td><md-form-field class="example-full-width">
                    <input mdInput placeholder="Protein (g)" name="protein" [(ngModel)]="food.protein">
                </md-form-field></td>
                <td><md-form-field class="example-full-width">
                        <input mdInput placeholder="Carb (g)" name="carb" [(ngModel)]="food.carb">
                    </md-form-field></td>
                    <td><md-form-field class="example-full-width">
                            <input mdInput placeholder="Fat (g)" name="fat" [(ngModel)]="food.fat">
                        </md-form-field></td>
        </tr>
        
</table>

       <p align="left">
        <md-select placeholder="Meal Type" [(ngModel)]="food.meal_type" name="meal_type">
            <md-option *ngFor="let meal_type of meal_types" [value]="meal_type.value">
                {{ meal_type.viewValue}}
            </md-option>
        </md-select>
    </p>
    <p align="left">
        <button md-raised-button>Submit</button>
    </p>
    </form>
    </md-card>